[submodule "themes/hugo-clinic-notes"]
	path = themes/hugo-clinic-notes
	url = https://github.com/jmablog/hugo-clinic-notes.git
[submodule "themes/etch"]
	path = themes/etch
	url = https://github.com/LukasJoswiak/etch.git
